<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>
      <div class="field">
        <label for="text">Enter length</label>
        <input
          class="input"
          inputmode="numbers"
          type="text"
          (input)="onChangeSize($event.target)"
          [value]="passwordValueLength"
          id="text"
          name="text"
          placeholder="Enter"
        />
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input
              type="checkbox"
              (change)="onChangeUseLetters()"
              [checked]="includeLetters"
              name="letters"
            />
            Use Letters
          </label>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input
                type="checkbox"
                (change)="onChangeUseNumbers()"
                [checked]="includeNumbers"
                name="numbers"
              />
              Use numbers
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input
                type="checkbox"
                (change)="onChangeUseSymbols()"
                [checked]="includeSymbols"
                name="symbols"
              />
              Use symbols
            </label>
          </div>
        </div>
        <button
          class="button is-link is-fullwidth"
          [disabled]="
            !(
              passwordValueLength &&
              (includeNumbers || includeSymbols || includeLetters)
            )
          "
          (click)="onButtonClick()"
        >
          Generate
        </button>

        <div class="box">
          <label for="password">Your password</label>
          <input
            *ngIf="password"
            id="password"
            class="input"
            [value]="password"
            readonly
            name="password"
          />
        </div>

      </div>
    </div>
  </div>
</div>
